CREATE PROCEDURE [dbo].[Pirates_GetList]
AS
SELECT * FROM dbo.Pirates;

CREATE PROCEDURE [dbo].[Links_GetList]
AS
SELECT * FROM dbo.Links;

CREATE PROCEDURE [dbo].[PirateAnimals_GetList]
AS
SELECT * FROM dbo.PirateAnimals;

